/*  for projects page  */
.video-description{
  margin-left: 0;
}

.project-picture{
  width: 175px;
}

.entry{
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 25px;
  min-width: 175px;
}

.table{
  margin-top: 50px;
}
