/*  for projects page  */
.video-description{
  margin-left: 0;
}

.project-picture{
  width: 300px;
}

.entry{
  width: 350px;
  text-align: center;
  min-width: 300px;
  margin-bottom: 50px;
}

.flex-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-title{
  font-size: 20px;
  margin-top: 5px;
  width: 75%;
}
