/*  for projects page  */
.video-description{
  margin-left: 0;
}

.project-picture{
  width: 300px;
}

.entry{
  width: 33%;
  float: left;
  text-align: center;
  margin-top: 25px;
  min-width: 175px;
}

.table{
  margin-top: 50px;
}

.project-title{
  font-size: 20px;
  margin-top: 5px;
  width: 75%;
}
