body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	background-color: #f6f5f4;
	margin: 0 auto;
}

/* 	hero content						 */

.hero {
	height: 70vh;
	min-height: 500px;
	margin: 0;
	color: rgb(10, 10, 10);
}
.hero-content {
	width: 80%;
	padding-top: 20vh;
	margin: 0 auto;
	text-align: center;
}
.hero-flexbox {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.hero-img {
	margin: 0 auto;
}
.hero-img img {
	max-width: 375px;
	border-radius: 50%;
}
.hero-text {
	margin: 0 auto;
	padding-left: 25px;
	white-space: nowrap;
}

.hero-title {
	padding: 5px;
	border-width: 5px;
	border-radius: 5px;
}
.hero-title h1 {
	color: rgb(10, 10, 10);
	font-size: 60px;
	text-align: left;
	/* margin: 0px auto 25px auto; */
	line-height: 15px;
}
.hero-title h2 {
	color: rgb(10, 10, 10);
	font-size: 32px;
	font-weight: 100;
	font-style: italic;
	text-align: left;
	/* margin: 0px auto 25px auto; */
	line-height: 10px;
}

.hero-description h2 {
	color: rgb(10, 10, 10);
	font-size: 24px;
	margin: 10px 0;
	font-weight: 200;
	text-align: left;
	padding-left: 5px;
}

.down-arrow {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.down-arrow::after {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	margin: auto;
	top: 100%;
	right: 0;
	bottom: -75%;
	left: 80%;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #ffffff;
	border-radius: 4px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 2.5s arrow infinite ease;
	animation: 2s arrow infinite ease;
}

@-webkit-keyframes arrow {
	0%,
	100% {
		top: 25px;
	}
	50% {
		top: 50px;
	}
}

@keyframes arrow {
	0%,
	100% {
		top: 25px;
	}
	50% {
		top: 50px;
	}
}

@media only screen and (max-width: 1072px) {
	.hero-content {
		width: 75%;
		padding-top: 10vh;
	}
	.hero-flexbox {
		flex-direction: column;
	}
	/* .hero-title h1 {
		font-size: 58px;
		text-align: center;
		line-height: normal;
		margin-top: 48px;
		margin-bottom: 0;
	}
	.hero-title h2 {
		/* margin: 0px auto 25px auto; */
		/* margin-top: 12px;
		margin-bottom: 36px;
	} */
	/* .hero-description h2 {
		font-size: 22px;
		margin-top: 0px;
	} */ 

		.hero-title h1 {
		font-size: 50px;
	}
	.hero-title h2 {
		font-size: 25px;
	}
	.hero-description h2 {
		font-size: 18px;
	}
	.hero-img img {
		max-width: 325px;
	}
	.down-arrow::after {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (max-width: 780px) {
	.hero-content {
		padding-top: 15vh;
		width: 87.5%;
	}

	.hero-img img {
		max-width: 275px;
	}
	/* .hero-title h1 {
		font-size: 50px;
	}
	.hero-title h2 {
		font-size: 25px;
	}
	.hero-description h2 {
		font-size: 18px;
	} */
	.down-arrow::after {
		width: 10px;
		height: 10px;
		left: 0;
	}
}

@media only screen and (max-width: 600px) {
	.hero-flexbox {
		flex-direction: column-reverse;
	}
	.hero-content {
		width: 90%;
	}
	.hero-img img {
		margin-top: 60px;
		max-width: 225px;
	}
	.hero-title h1 {
		font-size: 48px;
		margin-top: 48px;
	}
	.hero-description h2 {
		font-size: 18px;
		margin: 5px 0;
	}
}



/* 	main content						 */

.main {
	min-height: 100vh;
	background-color: #f6f5f4;
}

.main-content {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	line-height: 30px;
}

@media only screen and (max-width: 1060px) {
	.main-content {
		width: 80%;
	}
}
@media only screen and (max-width: 780px) {
	.main-content {
		width: 82.5%;
	}
}


.about {
	color: #231f20;
}

.about a {
	color: #0075de;
	text-decoration: none;
}

.about a:hover {
	text-decoration: underline;
}

.catchphrase {
	background-color: rgb(250, 250, 250);
	padding: 10px 30px;
	line-height: 50px;
	margin-top: 100px;
	color: rgb(10, 10, 10);
	font-size: 22px;
	border-radius: 10px;
	font-weight: 400;
	text-wrap: pretty;
  	box-shadow: 
    0 0 10px rgba(200, 200, 200, 0.1); 
}

@media only screen and (max-width: 600px) {
	.catchphrase {
		font-size: 16px;
		margin: 100px auto;
		line-height: 30px;
	}
}


.about-intro-flexbox {
	display: flex;
	flex-direction: row;
}
.ava-portrait {
	max-width: 375px;
}
@media only screen and (max-width: 780px) {
	.about-intro-flexbox {
		flex-direction: column;
	}
	.ava-portrait {
		max-width: 100%;
		margin-top: 25px;
	}
}

/* .about-intro-text {
	padding-right: 25px;
} */

.main-subheading {
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #898985;
}

.skills p {
	margin: 0;
}

.experience-details {
	margin-bottom: 15px;
}

.experience-details h3 {
	margin: 0 auto;
}

.experience-details h4 {
	margin: 0 auto;
	font-weight: normal;
}

.experience-details h5 {
	margin: 0 auto;
	font-weight: normal;
}

.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.awards-and-honors .flex-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* width: 100%; */
}

.awards-and-honors .right-flex {
	padding-left: 10px;
}

@media only screen and (max-width: 600px) {
	.awards-and-honors .flex-box {
		flex-direction: column;
	}

	.awards-and-honors .right-flex {
		padding-left: 0px;
	}
}

/* 	footer content						 */

footer {
	background-color: #202021;
	color: #ece4e0;
	min-height: 20vh;
	overflow: hidden;
	line-height: 30px;
}

footer h2 {
	color: #ffffff;
}
.footer-content {
	margin: 50px 15%;
}
@media only screen and (max-width: 1060px) {
	.footer-content {
		margin: 50px 12.5%;
	}
}

address {
	font-style: normal;
}
.email-address {
	color: #ffffff;
	text-decoration: none;
}

.email-address:hover {
	text-decoration: underline;
}

.social-icon {
	width: 20px;
}

.footer-flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

@media only screen and (max-width: 780px) {
	.footer-flexbox {
		flex-wrap: wrap;
	}
}

.footer-flexitem.email {
	margin-right: 10vw;
	margin-bottom: 20px;
}

.footer-flexitem.socials {
	flex: 4 0 150px;
	margin: 0 2.5vw 0 0;
}

@media only screen and (max-width: 780px) {
	.footer-flexitem.socials {
		flex: 0 1 auto;
	}
	.footer-flexitem.summary {
		margin-top: 20px;
	}
}

.socials-flexbox {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.socials-flexitem {
	margin: 0 0 10px 0;
}

.socials-flexitem a {
	color: #ffffff;
	text-decoration: none;
}

.socials-flexitem a:hover {
	text-decoration: underline;
}

.footer-flexitem p {
	margin: 0;
}
