html{
  font-family: Georgia, serif;
  color: #073763;
}

body{
  margin: 0 12.5%;
}

h1{
  font-family: 'Merriweather';
  text-align: center;
  margin: 20px auto 10px auto;
}

h1 a{
  color: #073763;
  text-decoration: none;
}

h1 a:hover{
  color: #D77771;
  transition: .25s;
}

h2{
  font-family: 'Merriweather';
  font-size: 20px;
  margin: 50px auto 0px auto;
}

/* increase top margin for first line of text*/
h2.first-paragraph{
  font-family: 'Merriweather';
  font-size: 20px;
  margin: 50px auto 0px auto;
}

.first-paragraph{
  margin: 50px auto 25px auto;
}

h3{
  font: Georgia;
  font-size: 18px;
  font-weight: normal;
  color: black;
  margin: 5px auto;
}

p{
  margin: 25px auto;
  font-size: 16px;
  color: grey;
}

a{
  text-decoration: none;
  color: #D77771;
}

/* display a circular, centered image of me */
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.photo-of-me{
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  align-items: center;
}

/* display both nav bars horizontally */
.nav-bar-1, .nav-bar-2{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-bar-1 li, .nav-bar-2 li{
  display: inline;
}

.nav-bar-1 a, .nav-bar-2 a{
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
}

/* change website navigation links to pink on hover */
.nav-bar-1 a:hover{
  color: #D77771;
  transition: .25s;
}

/* style links with company colors on hover */
a.github-link:hover{
  color: #767676;
  transition: .25s;
}

a.linkedin-link:hover{
  color: #0077B5;
  transition: .25s;
}

a.facebook-link:hover{
  color: #3C5A99;
  transition: .25s;
}

a.spotify-link:hover{
  color: #1DB954;
  transition: .25s;
}
