body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

/* 	hero content						 */

.hero {
	height: 100vh;
	margin: 0;
	background-color: #8b999f;
	color: white;
}
.hero-content {
	width: 80%;
	padding-top: 25vh;
	margin: 0 auto;
	text-align: center;
}
.hero-flexbox {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.hero-img {
	margin: 0 auto;
}
.hero-img img {
	max-width: 375px;
	border-radius: 50%;
}
.hero-text {
	margin: 0 auto;
	padding-left: 25px;
}
.hero-content h1 {
	color: #202021;
	font-size: 60px;
	text-align: left;
	margin: 0px auto 45px auto;
	line-height: 60px;
}

.hero-content h1 mark {
	font-style: italic;
	background-color: white;
	color: #202021;
}

.hero-content h2 {
	color: white;
	font-size: 22px;
	margin: 10px 0;
	font-weight: normal;
	text-align: left;
}

.down-arrow {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.down-arrow::after {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	margin: auto;
	top: 100%;
	right: 0;
	bottom: -75%;
	left: 80%;
	border-right: 4px solid #000000;
	border-bottom: 4px solid #ffffff;
	border-radius: 4px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 2.5s arrow infinite ease;
	animation: 2s arrow infinite ease;
}

@-webkit-keyframes arrow {
	0%,
	100% {
		top: 25px;
	}
	50% {
		top: 50px;
	}
}

@keyframes arrow {
	0%,
	100% {
		top: 25px;
	}
	50% {
		top: 50px;
	}
}

@media only screen and (max-width: 1072px) {
	.hero-content {
		width: 75%;
		padding-top: 10vh;
	}
	.hero-flexbox {
		flex-direction: column;
	}
	.hero-content h1 {
		text-align: center;
		line-height: normal;
		margin-top: 50px;
		margin-bottom: 25px;
	}
	.hero-content h2 {
		font-size: 20px;
		margin-top: 0px;
	}
	.hero-img img {
		max-width: 275px;
	}
	.down-arrow::after {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.hero-content {
		padding-top: 10vh;
		width: 87.5%;
	}
	.hero-content h1 {
		font-size: 50px;
	}
	.hero-img img {
		max-width: 225px;
	}
	.hero-content h2 {
		font-size: 18px;
	}
	.down-arrow::after {
		width: 10px;
		height: 10px;
		left: 0;
	}
}

@media only screen and (max-width: 480px) {
	.hero-content h1 {
		font-size: 40px;
	}
	.hero-content h2 {
		font-size: 15px;
	}
}

/* 	main content						 */

.main {
	min-height: 100vh;
	background-color: white;
}

.main-content {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	line-height: 30px;
}

@media only screen and (max-width: 1060px) {
	.main-content {
		width: 80%;
	}
}
@media only screen and (max-width: 780px) {
	.main-content {
		width: 82.5%;
	}
}
@media only screen and (max-width: 480px) {
	.main-content {
		width: 85%;
	}
}

.about {
	color: #231f20;
}

.about a {
	color: #607657;
	text-decoration: none;
}

.about a:hover {
	text-decoration: underline;
}

.catchphrase {
	background-color: #607657;
	padding: 20px;
	line-height: 45px;
	margin: 0 auto;
	color: #ffffff;
}

.about-intro-flexbox {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}
.ava-portrait {
	max-width: 375px;
}
@media only screen and (max-width: 780px) {
	.about-intro-flexbox {
		flex-direction: column;
	}
	.ava-portrait {
		max-width: 100%;
		margin-top: 25px;
	}
}

.about-intro-text {
	padding-right: 25px;
}

.main-subheading {
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #898985;
}

.skills p {
	margin: 0;
}

.experience-details {
	margin-bottom: 15px;
}

.experience-details h3 {
	margin: 0 auto;
}

.experience-details h4 {
	margin: 0 auto;
	font-weight: normal;
}

.experience-details h5 {
	margin: 0 auto;
	font-weight: normal;
}

.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.awards-and-honors .flex-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* width: 100%; */
}

.awards-and-honors .right-flex {
	padding-left: 10px;
}

@media only screen and (max-width: 600px) {
	.awards-and-honors .flex-box {
		flex-direction: column;
	}

	.awards-and-honors .right-flex {
		padding-left: 0px;
	}
}

/* 	footer content						 */

footer {
	background-color: #202021;
	color: #ece4e0;
	min-height: 20vh;
	overflow: hidden;
	line-height: 30px;
}

footer h2 {
	color: #ffffff;
}
.footer-content {
	margin: 50px 15%;
}
@media only screen and (max-width: 1060px) {
	.footer-content {
		margin: 50px 12.5%;
	}
}

address {
	font-style: normal;
}
.email-address {
	color: #ffffff;
	text-decoration: none;
}

.email-address:hover {
	text-decoration: underline;
}

.social-icon {
	width: 20px;
}

.footer-flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

@media only screen and (max-width: 780px) {
	.footer-flexbox {
		flex-wrap: wrap;
	}
}

.footer-flexitem.email {
	margin-right: 10vw;
	margin-bottom: 20px;
}

.footer-flexitem.socials {
	flex: 4 0 150px;
	margin: 0 2.5vw 0 0;
}

@media only screen and (max-width: 780px) {
	.footer-flexitem.socials {
		flex: 0 1 auto;
	}
	.footer-flexitem.summary {
		margin-top: 20px;
	}
}

.socials-flexbox {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.socials-flexitem {
	margin: 0 0 10px 0;
}

.socials-flexitem a {
	color: #ffffff;
	text-decoration: none;
}

.socials-flexitem a:hover {
	text-decoration: underline;
}

.footer-flexitem p {
	margin: 0;
}
