html{
  font-family: Georgia, serif;
  color: #073763;
}

h1{
  font-family: 'Merriweather';
  text-align: center;
  margin: 20px auto 10px auto;
}

h1:hover{
  /* color: #D77771; */
  /* transition: .25s; */
  cursor: default;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.photo-of-me{
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  align-items: center;
}

.nav-bar{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-bar li{
  display: inline;
}

.nav-bar a{
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
}

.nav-bar a:hover{
  color: #D77771;
  transition: .25s;
}

.resume-display{
  display: block;
  margin: 0 auto;
  border: none;
  width: 75%;
}

p{
  margin: 50px 25%;
}
