/*  for hobbies page  */
.flex-table {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 75px;
}

.entry {
	text-align: center;
	margin: 0 5px 50px 5px;
}

.hobby-picture {
	width: 250px;
	border: 5px solid #b5bec7;
	border-radius: 10px;
}

a img:hover {
	position: relative;
	top: -5px;
}
